@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@font-face {
  font-family: "Gill sans mt";
  src: url("/fonts/gill.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
