@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap'); */
@font-face {
  font-family: "Gill sans mt";
  src: url("/fonts/gill.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilda Display";
  src: url("/fonts/GildaDisplay-Regular.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
